**/HELP.md
target/
*/target/**
**/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea/
*.idea/
*.iws
*.iml
*.ipr


# VS Code
.vscode/
.settings/
.project
.classpath


### STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache


#python genereted folders
.ipynb_checkpoints


#developer experience - DX
dx/**


#jar files
*.jar


#Mac
.DS_Store


#CI/CD
.travis.yml


#dashboards 
dashboards/**


#huge data volumes (not allowed by github)
data/simulatte-db/data/**
data/ADS/fraudDetection/*.json
data/ADS/fraudDetection/ads-22.0.1-frauddetection-requests-20220809_192453-30M
data/ADS/fraudDetection/ads-22.0.1-frauddetection-requests-20220809_201449-30M
data/ADS/fraudDetection/ads-22.0.1-frauddetection-requests-20220809_201449-30M.json
data/ADS/fraudDetection/ads-22.0.1-frauddetection-requests-20220809_192021-1M.json
data/ADS/fraudDetection/ads-22.0.1-frauddetection-requests-20220808_184053-500K.json
data/ADS/fraudDetection/ads-22.0.1-frauddetection-decisions-notrace-20220808_183825-100K.json


#docs
docs/simulatte_project.pptx


#dev
dev/simulatte-offline/decision-on-spark/**


#notebooks
notebooks/.idea
notebooks/*.ipynb_checkpoints
notebooks/__pycache__
notebooks/optimization/**
!notebooks/optimization/README.md