*/HELP.md
*/target/*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea/
*.idea/
*.iws
*.iml
*.ipr


# VS Code
.vscode/
.settings/
.project
.classpath


### STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache

#developer experience - DX
dx/**


#jar files
*.jar


#Mac
.DS_Store


#CI/CD
.travis.yml


#dashboards 
dashboards/**


#data
data/simulatte-db/data/**
data/ADS/fraudDetection/**


#docs
docs/simulatte_project.pptx


#dev
dev/simulatte-offline/decision-on-spark/**


#notebooks
notebooks/.idea
notebooks/.ipynb_checkpoints
notebooks/__pycache__