*.jar
gitpush.sh


.vscode
.DS_Store
.travis.yml


dashboards/**
draft/**


data/simulatte-db/data/**
data/ADS/fraudDetection/**


docs/simulatte_project.pptx


dev/simulatte-offline/decision-on-spark/**


notebooks/.idea
notebooks/.ipynb_checkpoints
notebooks/__pycache__