aiohttp
aiosignal
alabaster
anaconda-client
anaconda-project
ansiwrap==0.8.4
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black==19.10b0
bleach
bokeh
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools
certifi==2021.10.8
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-verify==3.4.2
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.5.0
dask
datashader
datashape==0.5.4
debugpy
decorator
deepdiff==5.8.1
defusedxml
diff-match-patch
distributed
Django==2.2.11
docutils
entrypoints
et-xmlfile==1.1.0
executing
Faker==13.12.0
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
glob2
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
h5py
HeapDict
holoviews
hvplot
hyperlink
hypothesis==6.47.0
hypothesis-jsonschema==0.22.0
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
install==1.3.5
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
Jinja2
jinja2-time
jmespath
joblib
jsf==0.3.2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite==0.38.0
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic
nbclient
nbconvert
nbformat==5.4.0
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
openpyxl
ordered-set==4.1.0
packaging
pandas==1.4.2
pandocfilters
panel
papermill==2.3.4
param
parsel
parso
partd
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect
pgeocode==0.3.0
pickleshare
Pillow==9.0.1
pkginfo
plaitpy==0.1.1
plotly
pluggy
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==3.19.1
psutil
psycopg2==2.9.3
ptyprocess
pure-eval
py
py4j==0.10.9.5
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.44.1
pydantic==1.9.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pyspark==3.3.0
pytest==7.1.1
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify
python-snappy
pytz==2021.3
pyviz-comms
PyWavelets
PyYAML==5.4.1
pyzmq==23.2.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
rope
rsa
rstr==3.2.0
Rtree
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex==2021.20220215.132722
scipy
Scrapy
seaborn
Send2Trash
service-identity
sip==4.19.13
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse==0.4.2
stack-data
statsmodels
subprocess.run==0.0.8
sympy
tables
tabulate==0.8.9
TBB==0.2
tblib
temp==2020.7.2
tenacity
terminado
testpath
text-unidecode
textdistance
textwrap3==0.9.2
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
toolz
tornado
tqdm
traitlets
Twisted
typed-ast
typer==0.4.1
typing_extensions
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
xlwings==0.24.9
yapf
yarl
zict==2.0.0
zipp
zope.interface
